@import url(https://fonts.googleapis.com/css?family=Vast+Shadow);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);


body {
		background-color: black; margin: 50px, 100px;
	}
	h1 {
		font-family: 'Vast Shadow', cursive, 'tahoma', geneva, sans-serif;
		font-size: 48px; color: white; ￼font-style: normal;
		}
		
	h2 {
		font-family: 'Fjalla One', sans-serif; 'times new roman': serif;
			font-size: 40px; color: gray; font-style: normal;
		}
		

	title, h3 {
		font-family: 'Vollkorn', serif, tahoma, geneva, sans-serif;
		color: white; font-size: 24px; font-style: bold;
		}
	p
		{
		font-family: 'Vollkorn', serif;
		font-size: 12px; color: white; 
		width: 750px;
		float: left;
		margin: 5px;
		padding: 5px;
		background-color: #efefef;

		}
	
	

/*In the code above it starts with "body" -- does this apply to the entire page, including the header, or do i need to apply the CSS to the header too?*/